/* .my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 50px;
    width: fit-content;
    height: fit-content;
} */

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}

.flexbox-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

}

/* .container {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
    width: fit-content;
    height: fit-content;
}

.container-child {
    border: 1px solid red;
    width: fit-content;
    height: fit-content;
} */
